div#main div.border:not(:target) {
  width: 33% \9;
  top: 1211px \9; }
div#main div.border:nth-of-type(2):not(:target) {
  width: 33% \9;
  top: 1211px \9; }
div#main div.border:nth-of-type(3):not(:target) {
  width: 33.333% \9; }

div#header ul.topic-path li a {
  margin-right: 25px; }
